<div class="container">
    <div>
        <h1>Add a new Playlist</h1>
        <form (ngSubmit)="addPlaylist()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required name="name" placeholder="Name"
                    [(ngModel)]="name">
            </div>
            <div>
                <label for="songs">Add songs</label>
                <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Song">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Add Playlist</button>
            </div>
            <div>
                <ul class="search-result">
                    <li *ngFor="let song of songsList">
                        <a>{{song.track}}, {{song.artist}}</a>
                    </li>
                </ul>
            </div>

            <div class="left-result">
                <h3>Search result: </h3>

                <ul class="search-result">
                    <li *ngFor="let song of songs$ | async">
                        <a (click)="addSong(song)">
                            {{song.track}}, {{song.artist}}
                        </a>
                    </li>
                </ul>

            </div>
            <div class="right-result">

                <h3>Suggested songs</h3>

                <div>
                    <p *ngIf="suggestedSongs== undefined">Suggested songs not found</p>
                    <ul>
                        <li *ngFor="let song of suggestedSongs">
                            <a (click)="addSong(song)">
                                {{song.track}}, {{song.artist}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
